/*
 * @package WordPress
 * @subpackage HEELJ
 * @since HEELJ 1.0 Beta
*/

/* ===== Buttons CSS ===== */
.btn.btn-sm.btn-link {
color:#0b448f !important;
}

a.btn.btn-sm.btn-default {
color:#ffffff !important;
}

.btn:focus,.btn:active,.btn.active,.btn:active:focus {
outline:none
}

.btn-white {
background:transparent;
color:#fff;
border:1px solid #fff;
}

.btn-white:hover {
background:#fff;
color:#4048b4;
border:1px solid #fff;
}

.btn-blue {
background:transparent;
color:#0072a4!important;
border:1px solid #0072a4;
}

.btn-blue:hover {
background:#009ee4;
color:#fff!important;
border:1px solid #009ee4;
}

.btn-blue-fill {
background:#009ee4;
color:#fff;
border:1px solid #009ee4;
}

.btn-blue-fill:hover {
background:#4048b4;
color:#fff;
border:1px solid #4048b4;
}

.btn-purple {
background:transparent;
color:#4048b4;
border:1px solid #4048b4;
}

.btn-purple:hover {
background:#4048b4;
color:#fff;
border:1px solid #4048b4;
}

.btn-purple-fill {
background:#4048b4;
color:#fff;
border:1px solid #4048b4;
}

.btn-purple-fill:hover {
background:#073b5a;
color:#fff;
border:1px solid #073b5a;
}

.btn:focus,.btn:active,.btn.active,.btn:active:focus {
outline:none
}
