/*
 * @package WordPress
 * @subpackage HEELJ
 * @since HEELJ 1.0 Beta
*/

/* ===== Custom Colors Styles ===== */

.light-blue {
color:#21b9eb
}

.middle-blue {
color:#009ee4
}

.dark-blue {
color:#0072a4
}

.purple {
color:#4048b4
}

.white {
color:#fff
}
