/*
 * @package WordPress
 * @subpackage HEELJ
 * @since HEELJ 1.0 Beta
*/

/* ===== Navbar Styles ===== */
.navbar {
margin-bottom:0;
border:none;
border-radius:0
}

.navbar-custom {
background-color:transparent;
border-bottom:1px solid #fff!important
}

.navbar-custom .navbar-brand {
color:#fed136;
font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive
}
.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand.active {
color:#fec503
}

.navbar-custom .navbar-collapse {
border-color:rgba(255,255,255,0.02)
}
.navbar-collapse {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.navbar-custom-heelj {
padding:30px 0;
transition:padding .3s;
border:none;
background-color:transparent;
border-bottom:1px solid #dfdfdf!important;
overflow:hidden;
min-height:120px;
height: auto;
}
.navbar-toggle-heelj {
background: #009ee4;
border: 1px solid #198fb2 !important;
color:#fff;
}
.navbar-toggle-hma {
margin-right:40px;
background: #5cd0ee;
color: #fff;
}

.navbar-toggle-upa {
margin-right: 30px !important;
margin-top: 0 !important;
background: #0072b9 !important;
color:#fff !important;
}

.navbar-custom .navbar-toggle {
background-color:#fed136;
border-color:#fed136;
font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
color:white;
font-size:12px
}

.navbar-custom .navbar-toggle:hover,.navbar-custom .navbar-toggle:focus {
background-color:#fed136
}

.navbar-custom .nav li a {
font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform:uppercase;
font-weight:400;
letter-spacing:1px
}

.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus {
text-decoration:underline;
outline:none
}

.navbar-custom .navbar-nav > .active > a {
border-radius:0;
color:white
}

.navbar-custom .navbar-nav > .active > a:hover,.navbar-custom .navbar-nav > .active > a:focus {
color:white;
background-color:#fec503
}

.navbar-custom-top {
background:#fff;
color:#333
}

#mainNav.navbar-default .navbar-nav>li>a {
color:#fff
}

.navbar-brand {
padding:0
}

@media (max-width: 768px) {
.ibgh {
padding: 10px 0;
}
.menu-mobile {
margin-top:12px;
margin-bottom:10px
}
#bs-example-navbar-collapse {
background: #ccc;
border-top: 5px solid #004b77;
}
#bs-example-navbar-collapse-3 .navbar-nav {
width: 100% !important;
height: auto;
padding-left: 10%;
border-top: 3px solid #0072a4;
background: #fff;
margin:0;
}
div#bs-example-navbar-collapse-3 {
    width: 100%;
    padding-top: 20px;
    border: none;
}
}
